@model IEnumerable<MVC_AdopterUnDev.Models.DeveloperList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"> Create New </a>
</p>
<table class="table" width="70%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DevName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevHourCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevDayCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevMonthCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevCategPrincipal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DevName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevFirstName)
            </td>
            <td>
                @if (item.DevPicture is null)
                {
                <img width="250" src="~/assets/null.jpg"/>
                }
                else
                {
                    <img width="150" src="~/assets/@Html.DisplayFor(modelItem => item.DevPicture)" alt=" A V A T A R " />
                //ho inserito alt x i not found no buono: 'item.DevPicture is NotFoundResult'
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevHourCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevDayCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevMonthCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevCategPrincipal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idDev }) |
                @Html.ActionLink("Details", "Details", new { id = item.idDev }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idDev })
            </td>
        </tr>
}
    </tbody>
</table>
